<div class="margin20">
    <div style="width: 25rem; background: white; margin-left: auto; margin-right: auto">
        <div class="login-form padding20 block-shadow" ng-controller="LoginController as authenticate">
            <form ng-submit="authenticate.submit(account)">
                <h1 class="text-light">Login to service</h1>
                <hr class="thin"/>
                <br />
                <div class="input-control text full-size" data-role="input">
                    <label for="user_login">User email:</label>
                    <input type="text" id="user_login" ng-model="account.username">
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>
                </div>
                <br />
                <br />
                <div class="input-control password full-size" data-role="input">
                    <label for="user_password">User password:</label>
                    <input type="password" ng-model="account.password" id="user_password">
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                </div>
                <br />
                <br />
                <div class="form-actions">
                    <button type="submit" class="button primary" >Login to...</button>
                    <button type="reset" class="button link">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>