<form name="ctrl.form" novalidate ng-submit="ctrl.usernameUpdate(ctrl.account)" >
    <br/>
    <div class="input-control text full-size" data-role="input">
        <span class="mif-user prepend-icon"></span>
        <input type="text" id="user_login" name="user_login"  ng-model="ctrl.account.username" required>
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <br/>
    <br/>

    <div class="form-actions">
        <button type="submit" class="button primary" >Update</button>
    </div>
</form>