<form name="ctrl.form.password" novalidate ng-submit="ctrl.passwordUpdate(ctrl.account)" >
    <br/>
    <div class="input-control password full-size" data-role="input">
        <span class="mif-lock prepend-icon"></span>
        <input type="password" ng-model="ctrl.account.password" placeholder="Password" name=user_password" id="user_password" required>
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br />
    <br />
    <div class="input-control password full-size" data-role="input">
        <span class="mif-lock prepend-icon"></span>
        <input type="password" ng-model="ctrl.account.confirmPassword" placeholder="Confirm password" name=user_password" id="user_password_confirmation" required>
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br/>
    <br/>

    <div class="form-actions">
        <div ng-show="ctrl.confirmShow.password.resultP">
            <button type="submit" class="button success" >confirm</button>
            <button type="button" class="button warning" ng-click="ctrl.cancel(ctrl.confirmShow.password)">cancel</button>
        </div>
        <div ng-show="!ctrl.confirmShow.password.resultP">
            <button type="button" class="button primary" ng-disabled="!ctrl.form.password.$valid" ng-click="ctrl.confirm(ctrl.confirmShow.password)">Update</button>
        </div>
    </div>
</form>