<div class="margin20">
    <div style="width: 80rem; background: white; margin-left: auto; margin-right: auto">
        <div class="padding20">
            <h1 class="text-light">Help guide</h1>
            <br />
            <div>
                <ul class="step-list">
                    <li>
                        <h3 class="no-margin-top">Set service setting</h3>
                        <hr class="bg-red" />
                        <div>
                            Before being able to add service tile to your dashboard, you must first initialise them by configuring their settings.
                            <br />
                            <br />
                            <button ui-sref="service/setting" class="button danger">Add Services</button>
                        </div>
                    </li>
                    <li>
                        <h3 class="no-margin-top">Integrate your services with your dashboard</h3>
                        <hr class="bg-green" />
                        <div>
                            After having configured a service, you can go add it to your dashboard. Go to the services page and use the add a service form to add your specific service tile.
                            <br />
                            You can only add a type of service that was already configured ( see step 1)
                            <br />
                            <br />
                            <button class="button success" ui-sref="services">Add service tile</button>
                        </div>
                    </li>
                    <li>
                        <h3 class="no-margin-top">Modify your account information </h3>
                        <hr  class="bg-blue"/>
                        <div>
                            Want to change your password or username, then go to your Account Setting page.
                            <br />
                            <br />
                            <button class="button primary" ui-sref="account">My Account</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>