<style>
    .center-cell {
        margin: 0 auto;
        float: none
    }
    li {
        display:inline-block;
        padding: 5px;
    }
</style>
<div class="margin40">
    <div class="grid">
        <div class="row cells1">
            <div class="cell">
                <div class="align-center">
                    <div class="fg-white">
                        <div class="leader text-light">Visualizing your data</div>
                        <br/>
                        <div class="sub-header text-light fg-grayLight">Simple dashboards for your devices</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cells3" style="margin-top:5rem">
            <div class="cell">
                <div class="tile-large bg-darkTeal fg-white center-cell">
                    <div class="tile-content slide-up-2">
                        <div class="slide">
                            <div class="tile-content iconic">
                                <span class="icon mif-cloud mif-ani-heartbeat mif-ani-slow"></span>
                            </div>
                        </div>
                        <div class="slide-over bg-grayLight text-default padding10">
                            <div>
                                <h4 class="text-light">Integration with multiple services</h4>
                                <br>
                                <ul class="" >
                                    <li>
                                        <img src="/public/assets/img/logo/prtg_500x300_rgb.png" height="80" width="80">
                                    </li>
                                    <li>
                                        <img src="/public/assets/img/logo/particle-horizontal-white-d413199d.png"
                                             height="100" width="100">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tile-label">Flexible Data Sources</div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="tile-large bg-blue fg-white center-cell" data-role="tile">
                    <div class="tile-content slide-up-2">
                        <div class="slide">
                            <div class="tile-content iconic">
                                <span class="icon mif-users mif-ani-heartbeat mif-ani-slow"></span>
                            </div>
                        </div>
                        <div class="slide-over bg-orange text-small padding10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="tile-label">Accounts</div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="tile-large bg-emerald fg-white center-cell" data-role="tile">
                    <div class="tile-content slide-up-2">
                        <div class="slide">
                            <div class="tile-content iconic">
                                <span class="icon mif-widgets  mif-ani-heartbeat mif-ani-slow"></span>
                            </div>
                        </div>
                        <div class="slide-over bg-orange text-small padding10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="tile-label">Develop with Widgets</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="fixed-bottom margin10 align-center ">
        <a href="https://github.com/mv740/HomeAutomationDashboard" class="image-button small-button">
            Open source
            <span class="icon mif-github"></span>
        </a>
    </div>
</footer>>
</div>