<div class="margin30">
    <div style="width: 20rem; background: white; margin-left: auto; margin-right: auto">
        <div class="login-form padding20 block-shadow" >

            <form name="ctrl.form" novalidate ng-submit="ctrl.register(ctrl.account)" >
                <h1 class="text-light">Create Account</h1>
                <hr class="thin bg-orange"/>
                <br />
                <div class="input-control text full-size" data-role="input">
                    <span class="mif-user prepend-icon"></span>
                    <input type="text" id="user_login" name="user_login" placeholder="Username" ng-model="ctrl.account.username"  required>
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>
                </div>
                <br />
                <br />
                <div class="input-control text full-size" data-role="input">
                    <span class="mif-mail prepend-icon"></span>
                    <input type="email" id="user_email" name="user_email" placeholder="Email" ng-model="ctrl.account.email"  required>
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>
                </div>
                <br />
                <br />
                <div class="input-control password full-size" data-role="input">
                    <span class="mif-lock prepend-icon"></span>
                    <input type="password" ng-model="ctrl.account.password" placeholder="Password" name=user_password" id="user_password" required>
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                </div>
                <br />
                <br />
                <div class="input-control password full-size" data-role="input">
                    <span class="mif-lock prepend-icon"></span>
                    <input type="password" ng-model="ctrl.account.passwordConfirmation" placeholder="Confirm password" name=user_password" id="user_password_confirmation" required>
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                </div>
                <br/>
                <br/>

                <div class="form-actions">
                    <button type="submit" class="button warning" ng-disabled="!ctrl.form.$valid">Register</button>
                </div>
            </form>
        </div>
        <button class="button link full-size fg-gray" ui-sref="login" style="text-align: center">I am already registered!</button>
    </div>
</div>