<div class="margin30">
    <div style="width: 20rem; background: white; margin-left: auto; margin-right: auto">
        <div class="login-form padding20 block-shadow" ng-controller="ResetController as ctrl">

            <form name="ctrl.form" novalidate ng-submit="ctrl.savePassword(ctrl.account)" >
                <h1 class="text-light">Reset Password</h1>
                <hr class="thin bg-orange"/>
                <br />
                <div class="input-control password full-size" data-role="input">
                    <span class="mif-lock prepend-icon"></span>
                    <input type="password" ng-model="ctrl.account.newPassword" placeholder="Password" name=user_password" id="user_password" required>
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                </div>
                <br />
                <br />
                <div class="input-control password full-size" data-role="input">
                    <span class="mif-lock prepend-icon"></span>
                    <input type="password" ng-model="ctrl.account.passwordConfirmation" placeholder="Confirm password" name=user_password" id="user_password_confirmation" required>
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                </div>
                <br/>
                <br/>

                <div class="form-actions">
                    <button type="submit" class="button warning" ng-disabled="!ctrl.form.$valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>